{% extends 'layout.html.twig' %}

{% block description %}Ask for a reset password token to retrieve your access to SnowTricks.{% endblock %}

{% block title %}SnowTricks - Password Forgotten{% endblock %}

{% block content %}
    <section class="main-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg12">
                    <h2>Hello Goldfish !</h2>
                    <p>This is the Forgotten Password page.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
