{% extends 'layout.html.twig' %}

{% block description %}Log in to SnowTricks to add Tricks and discuss around it.{% endblock %}

{% block title %}SnowTricks - Login{% endblock %}

{% block content %}
    <section class="main-container">
        <div class="container login-area">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form method="post">
                        <h1 class="h3 mb-3 mt-5 font-weight-normal text-center">Se Connecter</h1>
                        {% if error %}
                            <div class="alert alert-danger text-center">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="mb-3 text-center">
                                Vous êtes déjà connecté en tant que {{ app.user.username }} !
                            </div>
                        {% endif %}
                        <label for="inputPseudo">Pseudo :</label>
                        <input type="text" value="{{ last_pseudo }}" name="pseudo" id="inputPseudo" class="form-control mb-3" required autofocus>
                        <label for="inputPassword">Password :</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button class="btn btn-lg btn-light" type="submit">
                            Connexion
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
