{% extends 'layout.html.twig' %}

{% block description %}Sign up to SnowTricks to add Tricks and discuss around it.{% endblock %}

{% block title %}SnowTricks - Sign Up{% endblock %}

{% block content %}
    <section class="main-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg12">
                    <h2>Hello Visitor !</h2>
                    <p>This is the Sign Up page.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
