{% extends 'layout.html.twig' %}

{% block description %}SnowTricks - community Web-Site with many tricks to learn{% endblock %}

{% block title %}SnowTricks - APi{% endblock %}

{% block content %}
    <section class="main-container">
        <article class="site-intro">
            <div class="container">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for message in app.flashes('success') %}
                                <div class="flash-notice text-center">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            <h1 class="main-title">SnowTricks</h1>
                            <p class="main-subtitle">Born to Ride !</p>
                        </div>
                    </div>
                </div>
                <a id="scroll-down" href="#scroll-anchor"><span></span>Scroll</a>
            </div>
        </article>
        <div id="scroll-anchor" class="container-fluid site-gallery">
            <div class="row">
                <div class="col">
                    <h2>Welcome Snowboarder !</h2>
                    <p>
                        La Gallerie des Tricks est un espace communautaire pour découvrir, apprendre, partager et
                        discuter autour du Snowboard Freestyle.
                    </p>
                </div>
            </div>
            <div class="row card-columns">
                <div class="col-lg-12">
                    {% for figure in figures %}
                        <div class="card d-none">
                            {% for image in figure.images %}
                                <img src="{{ image.path }}" class="card-img-top" alt="Trick Image">
                            {% endfor %}
                            <div class="row card-body align-items-center">
                                <div class="col-6">
                                    <h4 class="card-title">
                                        <a href="#">{{ figure.name }}</a>
                                    </h4>
                                </div>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <div class="col-6">
                                    <a href="#" id="edit" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#" id="delete" class="card-link"><i class="fas fa-trash-alt"></i></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-2">
                    <button type="button" id="load-more" class="btn btn-light">Afficher Plus</button>
                </div>
            </div>
            <div class="row justify-content-center scroll-up d-none">
                <div class="col-lg-12">
                    <a id="scroll-up" href="#scroll-anchor"><span></span>Scroll</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
