{% extends 'layout.html.twig' %}

{% block content %}
    <section class="main-container">
        <article id="part01" class="site-intro">
            <div class="container">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="display-4">SnowTricks</h1>
                            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
            </div>
            <a href="#part02"><span></span>Scroll</a>
        </article>
        <article id="part02" class="site-gallery">
            <div class="container-fluid">
                <h2>Hello World !</h2>
                <p>This is some of the website content.</p>
                <div class="row justify-content-center">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="row card-body align-items-center">
                            <div class="col-6">
                                <h5 class="card-title">Card title</h5>
                            </div>
                            <div class="col-6">
                                <a href="#" class="card-link"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" class="card-link"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}
