<!-- Modal block template -->
<div class="modal fade" id="figureModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <!-- Content added by AJAX request -->
        </div>
    </div>
</div>
