<h1>Bonjour {{ username }}</h1>

<p>
    Vous avez demandé la réinitialisation de votre Password.
</p>

<p>
    <a href="{{ url }}">
        Cliquez sur ce lien pour définir un nouveau Password.
    </a><br>
    (Ce lien est valide jusqu'à {{ expiration_date|date('H:i') }})
</p>
