<h1>Bonjour {{ username }}</h1>

<p>
    Vous avez créé un compte avec l'email suivant :
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="{{ url }}">
        Cliquez sur ce lien pour activer votre compte.
    </a><br>
    (Ce lien est valide jusqu'au {{ expiration_date|date('d/m/Y à H:i') }})
</p>
