{% extends 'layout.html.twig' %}

{% block description %}Log in to SnowTricks to add Tricks and discuss around it.{% endblock %}

{% block title %}SnowTricks - Login{% endblock %}

{% block content %}
    <section class="main-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg12">
                    <h2>Hello User !</h2>
                    <p>This is the Login page.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
